# Introduction to SQLite and it's usage with Python

In [1]:
import sqlite3

# Create a Connection, a Table and add data

In [4]:
# Creating a Connection (DB)
conn = sqlite3.connect("example2.db")

In [5]:
# Creating a Cursor
cur = conn.cursor()

In [6]:
# Creating a table 
cur.execute("CREATE TABLE customer (Name TEXT, Last_Name TEXT, Income REAL)")

In [10]:
# Intert a row in a table
cur.execute("INSERT INTO customer VALUES ('Balveer', 'Singh', '43500')")

In [11]:
# Save results
conn.commit()

# Connecting to Existing Database

In [26]:
conn = sqlite3.connect("example2.db")
cur = conn.cursor()

In [29]:
# Run Simple query
cur.execute("SELECT * FROM customer")
cur.fetchone()

('Balveer', 'Singh', 43500.0)

In [20]:
# To fecth all the row in a table
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Balveer', 'Singh', 43500.0)
('Balveer', 'Singh', 43500.0)
('Balveer', 'Singh', 43500.0)

# Add Several row

In [30]:
customer_list = [
    ('Sujoy', 'Dey', 40000),
    ('Nikunj', 'Sharma', 35000),
    ('Anshu', 'Sharma', 50000)
]

In [33]:
cur.executemany("INSERT INTO customer VALUES(?,?,?)", customer_list)

In [34]:
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Balveer', 'Singh', 43500.0)
('Balveer', 'Singh', 43500.0)
('Balveer', 'Singh', 43500.0)
('Sujoy', 'Dey', 40000.0)
('Nikunj', 'Sharma', 35000.0)
('Anshu', 'Sharma', 50000.0)

In [35]:
conn.commit()

In [36]:
conn.close()

# Run Quesries

In [37]:
conn = sqlite3.connect("example2.db")
cur = conn.cursor()

In [39]:
cur.execute("SELECT * FROM customer WHERE Name = 'Balveer'")
cur.fetchall()

[('Balveer', 'Singh', 43500.0),
 ('Balveer', 'Singh', 43500.0),
 ('Balveer', 'Singh', 43500.0)]

In [40]:
cur.execute("SELECT * FROM customer WHERE Last_Name = 'Sharma'")
cur.fetchall()

[('Nikunj', 'Sharma', 35000.0), ('Anshu', 'Sharma', 50000.0)]

In [41]:
cur.execute("SELECT * FROM customer WHERE Last_Name = 'Kumar'")
cur.fetchall()

[]

In [42]:
cur.execute("SELECT * FROM customer ORDER BY Last_Name")
cur.fetchall()

[('Sujoy', 'Dey', 40000.0),
 ('Nikunj', 'Sharma', 35000.0),
 ('Anshu', 'Sharma', 50000.0),
 ('Balveer', 'Singh', 43500.0),
 ('Balveer', 'Singh', 43500.0),
 ('Balveer', 'Singh', 43500.0)]

In [43]:
cur.execute("SELECT SUM(Income) FROM customer")
cur.fetchone()

(255500.0,)

In [45]:
conn.close()